<form class="form-horizontal">
    <div class="form-group">
        <label for="searchText" class="col-md-1 control-label">Search</label> 
        <div class="col-md-4">
            <input id="searchText" class="form-control" ng-model="search.$">
        </div>
    </div>
</form>



<div class="row">
    <div class="col-md-4" ng-repeat="g in gifts| filter: search">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{g.title}}</h3>
            </div>
            <div class="panel-body">
                <div class="gift-image" ng-if="g.imageUrl">
                    <img style="width: 80%" src="{{g.imageUrl}}" alt="image"> 
                </div>
                <div class="gift-descr">
                    <i>{{g.description}}</i>
                </div>
            </div>
            <div class="panel-footer">
                Prix: {{g.price}}
                <bouton class='btn btn-default' ng-click="show_add = !show_add">Add a gift</bouton>
            </div>
        </div>
    </div>
</div>


<div class='well well-sm' style="clear: both; float: bottom">
    <bouton class='btn btn-default' ng-click="show_add = !show_add">Add a gift</bouton>
    <div ng-include="'partials/_gift_add.html'" ng-show='show_add'/>  
</div> 

<div class='well well-sm' style="clear: both; float: bottom">
    <bouton class='btn btn-default' ng-click="show_add = !show_add">Give money</bouton>
    <div ng-include="'partials/_gift_money.html'" ng-show='show_add'/>  
</div> 