<div class="cursive">
    <h2>How we met</h2>
</div>

<p>Amy and Gen met in September 2006 
    while volunteering for Habitat for Humanity. Gen asked a mutual friend for Amy’s number and the rest is history!
</p>

<div class="cursive">
    <h2>Our proposal</h2>
</div>

<div>
    <p>
        Gen planned a picnic in the park just after sunset to watch the July 4th fireworks display. 
        He popped the question as fireworks burst overhead, and of course, Amy said yes! They celebrated with their families the next day with dinner and a champagne toast.
    </p>
</div>

<hr />


<div class="jumbotron align-center">
    <h1 class='cursive' style='color:white'>Our Wedding</h1>
    <hr />
    <p>Monday June 15, 2015</p>
    <p>3:00 PM</p>
    <p>Attire: Cocktail</p>
    <hr />

    <h2 class='cursive'>Ceremony</h2>
    <p>   
        St Sisto's Church, <br />
        146 Lucy's Avenue, Mercy, MS 12065
    </p>

    <hr />


    <h2 class="cursive">Reception</h2>
    <p>   
        The Maria Resort & Spa, <br />
        617 Linder Road, Mercy, MS 12065
    </p>

</div>